*{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 300px;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-top: 200px;
    background-color: orange;
}
.box h1{
    color: rgba(255, 255, 248, 0.767);
    font-weight: bold;
}
.inputin{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    outline: none;
}
.signinbtn{
    padding: 10px;
    width: 2opx;
    background-color: teal;
    border-radius: 20px;
    outline: none;
}
p{
    color: white;
    font-weight: bold;
}
.resetbtn{
    text-decoration: none;
    color: teal;
}